#container{

    width: 1000px;
    margin: 0 auto;
}

#header{
    padding: 20px;
    border: 1px solid gray;
    margin-bottom: 20px;

}

#contents{
    border: 1px solid gray;
    padding: 20px;
    width: 700px;
    float: left;
}

#sidebar{
    border: 1px solid gray;
    padding: 20px;
    background-color: gold;
    width: 200px;
    float: right;
    margin-bottom: 20px;
}

#footer{
    border: 1px solid gray;
    padding: 20px;
    clear: both;





}