* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    width: 100%;
}
header {
    width: 100%;
    background-color: black;
    margin-bottom: 20px;
}
nav > ul {
    height: 50px;
    margin: 0;
    list-style: none;
    color: gold;
    font-size: 12px;
}
nav > ul > li {
    float: left;
    padding: 10px;
    margin: 5px 5px;
}
/*
    구형폰: 320px
    일반폰: 360px ~
*/
nav, #contents {
    width: 320px;
    margin: 0 auto;
}
#intro {
    width: 100%;
    margin-bottom: 20px;
}
#intro > img {
    width: 100%;
    padding: 10px;
}
#desc {
    width: 100%;
    padding: 10px;
    line-height: 1.5;
    font-size: 16px;
}
footer {
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: black;
    color: white;
}
footer > p {
    text-align: center;
    font-size: 15px;
    line-height: 12px;
}
/*테블릿: 768px ~*/
@media screen and (min-width:768px) {
    nav > ul{
        font-size: 18px;
        height: 80px;
    }

    
     nav, #contents{
        width: 750px;
        margin: 0 auto;
     }
     #intro{
        width: 100%;
     }
     #intro > img{
        width: 24%;
        padding: 10px;
     }
     #desc{
        width: 100%;
        padding: 10px;
        margin: 10px auto;
     }
     footer{
        height: 70px;
        padding: 30px;
     }

     footer > p {
        font-size: 18px;
     }
     

    }



/*데스크탑: 1024px ~*/
@media screen and (min-width:1024px) {
    nav, #contents{
        width: 1000px;
        margin: 0 auto;
    }
    #intro>img{
        width: 10%;
        padding: 10px;
        float: left;
    }
    #desc{
        display: inline-block;
        width: 400px;
        height: auto;
        padding: 10px;
        font-size: 20px;
    }
    footer{
        clear: both;
    }
}