/*
    css.css
    작성일 : 2023-03-28
    작성자 : TI
    내용   : 외부 스타일 적용 방법

*/






h2{font-size: 50px;}    /*h2 요소의 사이즈를 50px로 설정*/
ul{list-style: none;}   /**/
li{display: inline-block; margin-right: 50px; font-weight: bold; color: deeppink;}