@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'GmarketSansMedium';
}
#container {
    width: 100%;
    margin: 0 auto;
}
nav {
    height: 50px;
    background-color: black;
}
nav > ul {
    list-style: none;
    margin: 0;
    padding: 3px;
}
nav > img {
    width: 100%;
}
nav > ul > li {
    display: inline-block;
    margin: 15px 20px;
}
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:active{
    color: yellow;
}
a:hover{
    color: yellow;
}
header {
    width: 100%;
    height: 300px;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.page-title > h2{
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}
.photo{
    display: none;
}
section{
    position: relative;
    width: 100%;
    padding: 15px 5%;
}
.page-title{
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 30px 50px;
}
.content {
    margin: 80px auto 10px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}
#container section:nth-child(even){
    background-color: navajowhite;

}

footer{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
}

footer>p{
    color: white;
    text-align: center;
    line-height: 100px;
    
}

/*태블릿*/
@media screen and (min-width :768px){
    header{height: 400px;}

    #intro, #map {
        box-sizing: border-box;
        width: 50%;
        float: left;
        margin: 0;
        height: 300px;
    }
    #choice{
        clear: both;

    }

/*PC 버전 */
@media screen and (min-width:1024px) {
    #container {
        width: 1000px;
        margin: 0 auto;
    }
    header { height: 450px; }
    #intro, #map, #choice {
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 400px;
        padding: 15px 5%;
    }
    .photo {
        display: block;
        width: 40%;
        margin-top: 20px;
    }
    .content {
        margin: 80px auto 10px;
        width: 90%;
        padding: 20px;
    }
    .photo > img {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin-bottom: 30px;
    }
    #intro .photo, #map .photo {
        float: left;
        margin-right: 5%;
    }
    #choice .photo {
        float: right;
    }
    .text { width: 45%; }
    #intro .text, #map .text { float: right; }
    #choice .text { float: left; }
    #choice .photo img { border: 1px solid white; border-radius: 50%; }
    footer { clear: both; }
}